.elementor-151010000 .elementor-element.elementor-element-3dbbb321 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #eaeaea;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 3px 0px 4px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-3dbbb321
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-151010000
    .elementor-element.elementor-element-3991fb9b
    > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}
.elementor-151010000 .elementor-element.elementor-element-46583c7c {
    color: #666666;
    font-size: 13px;
}
.elementor-151010000
    .elementor-element.elementor-element-14fa0fe.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-151010000
    .elementor-element.elementor-element-14fa0fe
    > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pkwatchlist .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .header-item-counter {
    background-color: rgba(252, 129, 0, 0);
    color: #7a7a7a;
    font-size: 11px;
    border-radius: 50% 50% 50% 50%;
    width: 12px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 2px;
}
.elementor-151010000
    .elementor-element.elementor-element-3627c4e
    .dd_container {
    width: 200px;
    min-width: 200px;
}
.elementor-151010000 .elementor-element.elementor-element-3627c4e {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pkfavorites .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .header-item-counter {
    background-color: rgba(252, 129, 0, 0);
    color: #7a7a7a;
    border-radius: 50% 50% 50% 50%;
    width: 12px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 3px;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    .dd_container {
    font-size: 13px;
    width: 300px;
    min-width: 300px;
}
.elementor-151010000
    .elementor-element.elementor-element-7f4da094
    > .elementor-widget-container {
    margin: 0px 0px 0px 40px;
}
.elementor-151010000 .elementor-element.elementor-element-7f4da094 {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-6d04611
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}
.elementor-151010000
    .elementor-element.elementor-element-6d04611
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pksignin .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-6d04611
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-6d04611
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-6d04611
    > .elementor-widget-container {
    margin: 0px 0px 0px 40px;
}
.elementor-151010000 .elementor-element.elementor-element-6d04611 {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pklanguages .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .user-select
    .opt-list
    img {
    margin: 0px 10px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    .dd_container {
    font-size: 13px;
    width: 150px;
    min-width: 150px;
}
.elementor-151010000
    .elementor-element.elementor-element-101a9532
    > .elementor-widget-container {
    margin: 0px 0px 0px 40px;
}
.elementor-151010000 .elementor-element.elementor-element-101a9532 {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pkcurrencies .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .user-select
    .opt-list
    .pk-img {
    margin: 0px 10px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    .dd_container {
    font-size: 13px;
    width: 150px;
    min-width: 150px;
}
.elementor-151010000
    .elementor-element.elementor-element-5d007022
    > .elementor-widget-container {
    margin: 0px 0px 0px 40px;
}
.elementor-151010000 .elementor-element.elementor-element-5d007022 {
    width: auto;
    max-width: auto;
}
.elementor-151010000 .elementor-element.elementor-element-1a5038d6 {
    padding: 32px 10px 31px 10px;
}
.elementor-151010000 .elementor-element.elementor-element-e6edadc .pk-nav-ul {
    column-gap: 60px;
    justify-content: flex-start;
}
.elementor-151010000 .elementor-element.elementor-element-e6edadc .pk-nav-link {
    color: #333333;
    font-size: 13px;
    text-transform: uppercase;
}
.elementor-151010000 .elementor-element.elementor-element-e6edadc .pk-dropdown {
    padding: 0px 0px 15px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-2821ffd9
    .logo-link-wrap {
    text-align: center;
}
.elementor-151010000
    .elementor-element.elementor-element-1a65b2c8.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    text-transform: uppercase;
    color: #333333;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pkcart .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .header-item-counter {
    background-color: rgba(252, 129, 0, 0);
    color: #7a7a7a;
    border-radius: 50% 50% 50% 50%;
    width: 12px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 2px;
}
.elementor-151010000
    .elementor-element.elementor-element-1b8684ab
    .dd_container {
    width: 200px;
    min-width: 200px;
}
.elementor-151010000 .elementor-element.elementor-element-1b8684ab {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .user-select
    .current-item {
    flex-direction: row;
    font-size: 13px;
    text-transform: uppercase;
    color: #333333;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .current-item {
    padding: 0px 0px 0px 0px;
}
.elementor-widget-pkcompare .pk-ce-widget {
    justify-content: flex-start;
    display: flex;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .user-select
    .current-item
    svg {
    color: #333333;
    background-color: #ffffff00;
    border-radius: 50% 50% 50% 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .user-select
    .current-item
    svg
    use {
    transform: scale(0.8);
    transform-origin: 50%;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .header-item-counter {
    background-color: rgba(252, 129, 0, 0);
    color: #7a7a7a;
    border-radius: 50% 50% 50% 50%;
    width: 12px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 3px;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    .dd_container {
    width: 300px;
    min-width: 300px;
}
.elementor-151010000
    .elementor-element.elementor-element-38f3e5ce
    > .elementor-widget-container {
    margin: 0px 0px 0px 60px;
}
.elementor-151010000 .elementor-element.elementor-element-38f3e5ce {
    width: auto;
    max-width: auto;
}
.elementor-151010000
    .elementor-element.elementor-element-25cbb9af
    .pk-search-widget {
    justify-content: flex-start;
}
.elementor-151010000
    .elementor-element.elementor-element-25cbb9af
    .pk-search-widget
    fieldset
    button {
    flex-direction: row;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 2em;
    background-color: transparent;
    color: #333333;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-25cbb9af
    .pk-search-widget
    fieldset
    button
    svg {
    margin: 0px 0px 0px 0px;
}
.elementor-151010000
    .elementor-element.elementor-element-25cbb9af
    .pk-search-widget
    .pk-search-results {
    background-color: #ffffff;
    max-height: 400px;
}
.elementor-151010000
    .elementor-element.elementor-element-25cbb9af
    > .elementor-widget-container {
    margin: 0px 0px 0px 60px;
}
.elementor-151010000 .elementor-element.elementor-element-25cbb9af {
    width: auto;
    max-width: auto;
}
@media (min-width: 768px) {
    .elementor-151010000 .elementor-element.elementor-element-3991fb9b {
        width: 23.681%;
    }
    .elementor-151010000 .elementor-element.elementor-element-14fa0fe {
        width: 76.317%;
    }
    .elementor-151010000 .elementor-element.elementor-element-73412f78 {
        width: 40%;
    }
    .elementor-151010000 .elementor-element.elementor-element-4f6b5f14 {
        width: 20%;
    }
    .elementor-151010000 .elementor-element.elementor-element-1a65b2c8 {
        width: 40%;
    }
}
