.elementor-153010000 .elementor-element.elementor-element-39af2202:not(.elementor-motion-effects-element-type-background),
.elementor-153010000 .elementor-element.elementor-element-39af2202>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #323232;
}

.elementor-153010000 .elementor-element.elementor-element-39af2202 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 0px 45px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-39af2202>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .module-title {
    color: #efefef;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2.5px;
    margin: 0px 0px 30px 0px;
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .module-title span {
    border-color: #efefef;
    padding: 0px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .pk-ce-widget-wrapper {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-widget {
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-form {
    text-align: left;
    display: block;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .pknlinput-wrap {
    display: inline-block;
    width: 80%;
    margin: 0px 0px 25px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-info {
    color: #dddddd;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0px;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-input {
    padding: 15px 30px 15px 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #4f4f4f;
    border-radius: 22px 22px 22px 22px;
    color: #d3d3d3;
    background-color: rgba(0, 0, 0, 0);
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-input::placeholder {
    color: #d3d3d3;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .submit-widget-newsletter {
    color: #d3d3d3;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .psgdpr_consent_message span:last-child {
    color: #bdbdbd;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    line-height: 1.6em;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f .psgdpr_consent_message {
    padding: 0px 230px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-4deb9d2f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .module-title {
    color: #efefef;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2.5px;
    margin: 0px 0px 30px 0px;
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .module-title span {
    border-color: rgba(0, 0, 0, 0);
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks li:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks li {
    list-style: none;
    list-style-position: inside;
    color: #bdbdbd;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks li:hover {
    color: #ffffff;
}

.elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks-title {
    color: #e5e5e5;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 2em;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
}

#footer .elementor-153010000 .elementor-element.elementor-element-36f3dc9b .widget-pklinks-title {
    color: #e5e5e5;
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .module-title {
    color: #efefef;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2.5px;
    margin: 0px 0px 30px 0px;
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .module-title span {
    border-color: #efefef;
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks li:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks li {
    list-style: none;
    list-style-position: inside;
    color: #bdbdbd;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks li:hover {
    color: #ffffff;
}

.elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks-title {
    color: #e5e5e5;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 2em;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
}

#footer .elementor-153010000 .elementor-element.elementor-element-7042ff18 .widget-pklinks-title {
    color: #e5e5e5;
}

.elementor-153010000 .elementor-element.elementor-element-4c0fc551 .module-title {
    color: #efefef;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2.5px;
    margin: 0px 0px 30px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-4c0fc551 .module-title span {
    border-color: #efefef;
    padding: 0px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-57319cbf {
    color: #bdbdbd;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.5em;
}

.elementor-153010000 .elementor-element.elementor-element-7f30ec6f:not(.elementor-motion-effects-element-type-background),
.elementor-153010000 .elementor-element.elementor-element-7f30ec6f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #343434;
}

.elementor-153010000 .elementor-element.elementor-element-7f30ec6f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 5px 0px 5px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-7f30ec6f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-153010000 .elementor-element.elementor-element-818fbaa>.elementor-element-populated {
    color: #ffffff;
}

.elementor-153010000 .elementor-element.elementor-element-78b89b4a .elementor-text-editor {
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-78b89b4a {
    color: #c3c3c3;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.5em;
    letter-spacing: 2.5px;
}

.elementor-153010000 .elementor-element.elementor-element-78b89b4a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
}

.elementor-153010000 .elementor-element.elementor-element-1051d619 .elementor-text-editor {
    text-align: left;
}

.elementor-153010000 .elementor-element.elementor-element-1051d619 {
    color: #7e7e7e;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 00em;
    letter-spacing: 0.1px;
}

.elementor-153010000 .elementor-element.elementor-element-21a1392c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-153010000 .elementor-element.elementor-element-21a1392c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: flex-end;
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0 {
    text-align: right;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0 .elementor-social-icon:not(:hover) {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0 .elementor-social-icon:not(:hover) i {
    color: #a5a5a5;
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0 .elementor-social-icon {
    font-size: 16px;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #494949;
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0 .elementor-social-icon:not(:last-child) {
    margin-right: 11px;
}

.elementor-153010000 .elementor-element.elementor-element-2ed926b0>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-153010000 .elementor-element.elementor-element-3ae1f38a {
        width: 45.946%;
    }

    .elementor-153010000 .elementor-element.elementor-element-2e6077f4 {
        width: 18.018%;
    }

    .elementor-153010000 .elementor-element.elementor-element-59215d6 {
        width: 18.019%;
    }

    .elementor-153010000 .elementor-element.elementor-element-697fa661 {
        width: 18.018%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-153010000 .elementor-element.elementor-element-3ae1f38a {
        width: 100%;
    }

    .elementor-153010000 .elementor-element.elementor-element-2e6077f4 {
        width: 33%;
    }

    .elementor-153010000 .elementor-element.elementor-element-59215d6 {
        width: 33%;
    }

    .elementor-153010000 .elementor-element.elementor-element-697fa661 {
        width: 33%;
    }
}

@media(max-width:1024px) {
    .elementor-153010000 .elementor-element.elementor-element-39af2202 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-153010000 .elementor-element.elementor-element-4deb9d2f .module-title {
        text-align: center;
    }

    .elementor-153010000 .elementor-element.elementor-element-4deb9d2f .pk-ce-widget-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-widget {
        text-align: center;
    }

    .elementor-153010000 .elementor-element.elementor-element-4deb9d2f .newsletter-form {
        text-align: center;
        display: block;
    }

    .elementor-153010000 .elementor-element.elementor-element-4deb9d2f .pknlinput-wrap {
        display: inline-block;
    }
}

@media(max-width:767px) {
    .elementor-153010000 .elementor-element.elementor-element-21a1392c {
        width: 100%;
    }

    .elementor-153010000 .elementor-element.elementor-element-2ed926b0 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
}